<html>

<head>
    <h1 class="title" id="title">Chat Page</h1>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">

</head>

<body>
    <div ng-controller='controllerChat' class="page">
        <label class="display-5">
            <strong>Welcome back,{{userName}}</strong>
        </label>
        <div class="buttonas"><button class="button" ng-click="logout()">
                <a href='http://localhost:3000/#!/login'>Log-Out</a></div></button>
        <div class=" UsersmessageBox">
            <div class='getUsers'>
                <div>
                    <ol ng-repeat='user in allUsers'>
                        <li ng-click="person(user.firstName)">
                            {{user.firstName}}
                        </li>
                    </ol>
                </div>
                <!-- <div class='rows'>
                    <div>
                        <div class='button' id="navi-color-body">
                            <button class='button'>
                                <strong>{{receiverEmail}}</strong>
                            </button>
                            <div ng-repeat='chat in msgs' class="chat">
                                <p class="chatMsg" ng-show="chat.from!=userEmail"
                                    style="text-align: left ;color:blueviolet">
                                    {{chat.from}}:::<strong>{{chat.msg}}</strong></chat>
                                </p>
                                <p class="chatMsg" ng-show="chat.from==userEmail"
                                    style="text-align: right;color:darkred">
                                    <strong>{{chat.msg}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="messageWindow">
                <div class="messages">
                    <div class='rows'>
                        <div>
                            <div>
                                <button class='button'>
                                    <strong>{{receiverEmail}}</strong>
                                </button>
                                <div ng-repeat=' messageDetails in msgs' class="chat">
                                    <p class="chatMsg" ng-show="messageDetails.from!=userEmail"
                                        style="text-align: left ;color:blueviolet">
                                        {{chat.from}}=><strong>{{chat.msg}}</strong></chat>
                                    </p>
                                    <p class="chatMsg" ng-show="messageDetails.from==userEmail"
                                        style="text-align: right;color:darkred">
                                        <strong>{{chat.msg}}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sendMsg">
                    <input type="text" name="msg" ng-model="msg" placeholder="Type your messages here"
                        style="width:300px" ng-keyup='$event.KeyCode==13 && storeMsg()'>
                    <button ng-click="storeMsg()" class="register-button"> Send</button> </div>
            </div>
        </div>
    </div>
</body>

</html>