<html>

<head>
    <h1 class="title" id="title">Chat Page</h1>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">

</head>

<body>
    <div ng-controller='controllerChat' class="page">
        <label class="display-5">
            <strong>Welcome back,{{currUser}}</strong>
        </label>
        <div class="buttonas"><button class="button" ng-click="logout()">
                <a href='http://localhost:3000/#!/login'>Log-Out</a></div></button>
        <div class=" UsersmessageBox">
            <div class='getUsers'>
                <div>
                    <h6 ng-repeat="x in userData" ng-click="person(x)" ng-show='currUser != x.firstName'>
                        <button class="userButton" type="submit">{{x.firstName}}</button></h6>
                </div>
                
            </div>
            <div class="messageWindow">
                <div class="messages">
                    <div class='rows'>
                        <div>
                            <div>
                                <strong>{{chat.senderId}}</strong>
                                <div ng-repeat=' chat in msgData' class="chat">
                                    <p class="chatMsg" ng-show="currUserID==chat.from"
                                        style="text-align: left ;color:blueviolet">
                                        <strong>{{chat.msg}}</strong>
                                    </p>
                                    <p class="chatMsg" ng-show="currUserId!=chat.to"
                                        style="text-align: right;color:darkred">
                                        <strong>{{chat.msg}}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div autoscroll="true" class="sendMsg">
                    <input type="text" name="msg" ng-model="msg" placeholder="Type your messages here"
                        style="width:300px" ng-keyup='storeMsg()'>
                    <button ng-click="sendMsg(msg);clearTextArea()" class="register-button"> Send</button> </div>
            </div>
        </div>
    </div>
</body>

</html>